<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_0_live_0</string>
		<key>iconName</key>
		<string>直播</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_1_bangumi_13</string>
		<key>iconName</key>
		<string>番剧</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_2_anime_1</string>
		<key>iconName</key>
		<string>动画</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_3_music_3</string>
		<key>iconName</key>
		<string>音乐</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_4_dance_129</string>
		<key>iconName</key>
		<string>舞蹈</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_5_game_4</string>
		<key>iconName</key>
		<string>游戏</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_6_science_36</string>
		<key>iconName</key>
		<string>科技</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_7_life_160</string>
		<key>iconName</key>
		<string>生活</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_8_guichu_119</string>
		<key>iconName</key>
		<string>鬼畜</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_9_fashion_155</string>
		<key>iconName</key>
		<string>时尚</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_10_ad_165</string>
		<key>iconName</key>
		<string>广告</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_11_entertainment_5</string>
		<key>iconName</key>
		<string>娱乐</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_12_movie_23</string>
		<key>iconName</key>
		<string>电影</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_13_tv_11</string>
		<key>iconName</key>
		<string>电视剧</string>
		<key>linkString</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImageName</key>
		<string>region_icon_14_gamecenter_14</string>
		<key>iconName</key>
		<string>游戏中心</string>
		<key>linkString</key>
		<string></string>
	</dict>
</array>
</plist>
